body{
    margin: 0;
    border: 0;
}

#bordaMenu ul {
    padding:15px;
    margin:0px;
    background-color:#FFA500;
    list-style:none;
}
 
.contato{
    position: absolute;
    color:#fff;
    text-align: left;
    margin-left: 1200px;
    font-family:Bahnschrift Condensed;
    margin-top: -50px;
 
}
 
.imagemContato{
  width:80px;
  height:80px;
  margin-left: -70px;
  margin-top: -60px;
}
 
#bordaMenu ul li { display: inline; }
 
#bordaMenu ul li a {
    padding: 5px 20px;
    display: inline-block;
    background-color:000000;
    color: FFFFFF;
    text-decoration: none;
    border-bottom:5px solid 94dd26;
    font-family: Bahnschrift Condensed;
}
 
#bordaMenu ul li a:hover {
    background-color:1C1C1C;
    color: #FFA500;
    border-bottom:3px solid 1C1C1C;
}
 
.logoPadrao{
 text-align:center;
 width:100%;
 height:100%;

}
 
#banners{
  text-align:center;
  border-radius:5px;
}

#bordaLogo{
        width: 100%;
        height: 35%;
}
 
#bordaMenu {
 width:100%;
 height:9%;
 background-color: #FFA500;
 margin-top: -16px;
}

        
#central {
        width: 100%;
        height:120%;
        background-color: #ffffff;
        font-weight: bold;
        text-align: center;
        border:0; 
        font-family: Bahnschrift Condensed   ;
        font-size: 20px;
        color: #000000;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: column;
 
        }
   
#central label{
    font: 20px Bahnschrift Condensed;
    color: #000000;

}

#central td {
  padding:3px;
 text-align: justify;
}

 #central input[type=text]
 {
    height: 40px;
    width: 400px;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: none;
    
    


 } 
 #central input[type=password]
 {
    height: 40px;
    width: 400px;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: none;

 }
 .cod
 {
    text-align: left;
    background-color: #363636;
    background: url("codigo.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .des
 {
    text-align: left;
    background: url("descricao.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .mod
 {
    text-align: left;
    background: url("codigo.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .cat
 {
    text-align: left;
    background: url("codigo.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .ano
 {
    text-align: left;
    background: url("ano.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .cor
 {
    text-align: left;
    background: url("cor.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .pla
 {
    text-align: left;
    background: url("placa.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .loc
 {
    text-align: left;
    background: url("localizacao.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .tip
 {
    text-align: left;
    background: url("combustivel.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .opc
 {
    text-align: left;
    background: url("opcionais.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }
 .val
 {
    text-align: left;
    background: url("valor.png") no-repeat left;
    background-position: 5%;
    background-size: 25px;
    padding-left: 50px;
    color: #ffffff;

 }



 
#rodape {
        width: 100%;
        height: 7%;
        background-color: #000000;
        text-align: center;
        border:0; 
        color: #ffa500;
        font: 12px Verdana;
        }

.entrarbt{
    color:#000000;
    height: 38px;
    font-family: Bahnschrift Condensed;
    font-size: 15;
    width: 100px;
    height:38;
    background-color: #FFA500;
    border-color: #ffa500;
    border-radius: 5px;
    box-shadow: none;
    

}
.entrarbt:hover{
    color: #ffa500;
    font-family: Bahnschrift Condensed;
    height: 38px;
    width: 100px;
    transition-timing-function: linear;
    background-color: #000000;
    border-color: #000;
    border-radius: 5px;
    box-shadow: none;
    font-size: 15;
    z-index: -1;
    transition: all 0.4s ease;
    
}
