body{
        margin: 0;
        border: 0;
}

#bordaMenu ul {
        padding:15px;
        margin:0px;
        background-color:#FFA500;
        list-style:none;
    }
     
    .contato{
        position: absolute;
        color:#fff;
        text-align: left;
        margin-left: 1200px;
        font-family:Bahnschrift Condensed;
        margin-top: -50px;
     
    }
     
    .imagemContato{
      width:80px;
      height:80px;
      margin-left: -70px;
      margin-top: -60px;
    }
     
    #bordaMenu ul li { display: inline; }
     
    #bordaMenu ul li a {
        padding: 5px 20px;
        display: inline-block;
        background-color:000000;
        color: FFFFFF;
        text-decoration: none;
        border-bottom:5px solid 94dd26;
        font-family: Bahnschrift Condensed;
    }
     
    #bordaMenu ul li a:hover {
        background-color:1C1C1C;
        color: #FFA500;
        border-bottom:3px solid 1C1C1C;
    }
     
    .logoPadrao{
     text-align:center;
     width:100%;
     height:100%;

    }
     
    #banners{
      text-align:center;
      border-radius:5px;
    }

    #bordaLogo{
            width: 100%;
            height: 35%;
    }
    #central {
      width: 100%;
      height: 71%;
      background-color: #ffffff;
      font-weight: bold;
      text-align: center;
      border:0; 
      font-family: Bahnschrift Condensed   ;
      font-size: 20px;
      color: #000000;
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    

      }

    #semanas{
      align-items: center;
      position: center;
    }
     
    #bordaMenu {
     width:100%;
     height:6%;
     background-color: #FFA500;
     margin-top: -16px;
    }

    #bordaMenu input[type=text]
     {
        height: 35px;
        width: 200px;
        background-color: #363636;
        border-radius: 10px;
        box-shadow: none;
        outline: none;
        border-color: #000000;
    
     } 
     #bordaMenu select
     {
        height: 35px;
        width: 150px;
        background-color: #363636;
        border-radius: 10px;
        box-shadow: none;
        outline: none;
        color: #fff;
        padding: 5;
        border-color: #000000;
        font-size: 15;
        font-family: Bahnschrift Condensed   ;
    
     } 
     .mar
     {
        background-color: #363636;
        color: #ffffff;
        margin-left: 600;
        
    
     }
     .mod
     {
        text-align: left;
        background-color: #363636;
        padding-left: 20px;
        color: #ffffff;
    
     }
     .cat
     {
        text-align: left;
        background-color: #363636;
        padding-left: 20px;
        color: #ffffff;
    
     }

     #rodape {
      width: 100%;
      height: 7%;
      background-color: #000000;
      text-align: center;
      border:0; 
      color: #ffa500;
      font: 12px Verdana;
      }

    .entrarbt{
      color:#FFA500;
      height: 38px;
      font-family: Bahnschrift Condensed;
      font-size: 15;
      width: 100px;
      height:35;
      background-color: #000000;
      border-color: #000000;
      border-radius: 5px;
      box-shadow: none;
      position: right;
      
      
  
  }
  .entrarbt:hover{
      color: #000000;
      font-family: Bahnschrift Condensed;
      height: 35px;
      width: 100px;
      transition-timing-function: linear;
      background-color: #FFA500;
      border-color: #000000;
      border-radius: 5px;
      box-shadow: none;
      font-size: 15;
      z-index: -1;
      transition: all 0.4s ease;
      position: right;
      
  }
    
  .carros {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
  }
   
  .imagemCarro {
    width: 220px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
   
  .imagemCarro:hover {
    opacity: .5;
  }
  .listaCarros {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    padding: 5px;
    /*justify-content: center;*/
    align-items: center;
  }
  .valorCarro {
    color: #969090;
    margin-top: 0px;
    font-family:Bahnschrift Condensed;
  }
  .valorCarroDesconto{
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
    font-size: 20px;
    margin-top: -10px;
    color: rgb(214, 34, 2);
  }
   
  .modeloCarro {
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
  }
   
  .anoCarro{
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
    margin-left: -150px;
    margin-top: -10px;
    color: #969090;
  }
  .anoCarroValor{
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
    margin-top: -20px;
    margin-left: -115px;
    color:1C1C1C;
  }
   
  .KMCarro{
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
    margin-left: 150px;
    margin-top: -65px;
    color: #969090;
  }
  .KMCarroValor{
    margin-top: 5px;
    font-family:Bahnschrift Condensed;
    margin-top: -85px;
    margin-left: 170px;
    margin-top: -20px;
  }
   
  .zoom{
    opacity: 1;
  }

  #barra{
    width: 100%;
    height:12%;
    border-radius: 2%;
    position: center;
    margin-block-start: 50%;
    justify-content: center;
    margin-right: 60%;
    align-items: center;
    background-color: #FFA500;
  }
  .semana{

    font-family: Bahnschrift Condensed   ;
    font-size: 50px;
    color: #000000;
    align-items: center;
    margin-left: 38%;

  }

  #pesquisas {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    border:0; 
    font-family: Bahnschrift Condensed   ;
    font-size: 20px;
    color: #000000;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;

    }

    .logoo{

      position: center;
      align-items: center;

    }